@media (max-width: 600px) {
  #form_container{
    border-radius: 0;
  }
  form{
    border-radius: 0;
  }
  form input[type="text"]{
    width: calc(100vw - 32px)
   
  }
  #Q{
    top: 15px;
    right: 14px;
  }
  .channel_results{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
  }
  #searchTermHeader{
    /*width: 95vw;*/
    width: calc(100vw - 30px);
    margin: 15px;
    margin-top: .8em;
    margin-bottom: .8em;
    font-size: 2.4em;
  }
  ul{
    padding-left: 15px;
    -webkit-margin-end: 15px;
       -moz-margin-end: 15px;
            margin-inline-end: 15px;
    width: 100%;
  }
  .channel_header{
    font-size: 1.5em;
  }
  .channel_header.title_collapsed{
    margin-top: .5em;
  }
  .channel_inner > h3{
    padding-left: .7em;
  }
  #mycredit p{
    margin: .25em;
  }
  #mycredit button{
    left: 0em;
  }
  
  #terms{
    margin:0;
    max-width: 100vw;
    border-radius: 0px;
  }
}





@media (min-width: 601px) {
  .with_results #form_container{
     width: 100vw; 
  }
  #form_container{
    /*border-radius: 4px;*/
  }
  form{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  form input[type="text"]{
    width: 500px;
  }
  div.full_width.flex.onsides {
    width: 532px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .channel_results{
    padding-left: 40px;
    padding-right: 40px;
    min-width: 75vw;
  }
  #results_container{
    max-width: 950px;
    /*margin-left: calc((100vw - 1000px)/2)*/
  }
  #terms{
    max-width: 600px;
  }
}